<%= form_with model: @article do |form| %>
  <div>
  <%= article.errors.full_messages_for(:title).each do |message| %>
     <div><%= message %></div>
   <% end %>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
  </div>

  <div>
  <%= article.errors.full_messages_for(:body).each do |message| %>
     <div><%= message %></div>
   <% end %>
    <%= form.label :body %><br>
    <%= form.text_area :body %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>